learning/email.py
learning/generate_pw.py
learning/sandbox.py
learning/test
learning/validations.py


progress.txt


.idea/ETI-UP.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
learning/.idea/ETI-UP.iml
learning/.idea/misc.xml
learning/.idea/modules.xml
learning/.idea/vcs.xml
learning/.idea/inspectionProfiles/profiles_settings.xml
learning/.idea/inspectionProfiles/Project_Default.xml
.idea/TEST
.idea/ETI-UP.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/idea/ETI-UP.iml
.idea/idea/misc.xml
.idea/idea/modules.xml
.idea/idea/vcs.xml
.idea/idea/inspectionProfiles/profiles_settings.xml
.idea/idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
